
/* Global styles */
:root {
    /* Colors */
    --sitePink: #F012C1;
    --siteYellow: #FDE674;
    --black: #000;
    --fontColor: #f4f4f4;
    --bodyFontColor: #f4f4f4;

    /* Fonts */
    --mainFont: open-sans;

    /* Sizes */
    --fontXs: 1rem;
    --fontSm: 1.75rem;
    --fontMd: 2.25rem;
    --fontLg: 3.5rem;

}
 
* {
    box-sizing: border-box;
    line-height: 1.6;
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

/* Animations */ 

@keyframes grow {
    0%, 20%, 50%, 70%, 90%, 100% { 
        transform: translateX(-50%) scale(1); 
    }  
    40%, 60%, 80% {
        transform: translateX(-50%) scale(1.1);  
    } 
}

 /* Main */

 html body {
    background: #fff;
    color: var(--bodyFontColor);
 }

 /* Menu Board */
 .menu-board ul {
    padding: 0 !important;
 }

 /* Specialty Board */

 .slick-slide { 
    padding: 3rem 1rem;
}

.drink-card {
  min-height: 15rem;
  max-width: 15rem;
  margin: 0 1rem;
  background: var(--sitePink);
  color: var(--black);
  position: relative;
  border:  2px solid var(--siteYellow);
  box-shadow: 0 0 8px black;
 }

 @media (max-width: 768px) {
    .card { margin-bottom: 5rem; }
 }

 /* Lotus Banner */

 @media( max-width: 768px) {
    .lotus-banner-p {
        right: 5% !important;
        font-size: 1rem !important;
        max-width: 90% !important;
        margin: 0 auto !important;
     }
 }

 /* Location Map */

 .custom-marker {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
 }

 .custom-popup {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .custom-popup h4 {
    text-align: center;
    color: var(--sitePink);
 }
 
 .custom-popup p {
    color: var(--black);
 }

 .mapboxgl-popup-close-button {
    color: var(--black);
    font-size: 16px;
    margin: 0 .25rem;
  }