
/* Global styles */
:root {
    /* Colors */
    --sitePink: #F012C1;
    --siteYellow: #FDE674;
    --black: #000;
    --fontColor: #f4f4f4;

    /* Fonts */
    --mainFont: 'open-sans';
    --secondaryFont: '';

    --fontXs: 1rem;
    --fontSm: 1.75rem;
    --fontMd: 2.25rem;
    --fontLg: 3.5rem;

    --bodyFontColor: #f4f4f4;
}
 
* {
    box-sizing: border-box;
    line-height: 1.6;
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

/* Animations */ 

@keyframes grow {
    0%, 20%, 50%, 70%, 90%, 100% { 
        transform: translateX(-50%) scale(1); 
    }  
    40%, 60%, 80% {
        transform: translateX(-50%) scale(1.1);  
    } 
}

 /* Main */

 html body {
    background: #fff;
    color: var(--bodyFontColor);
 }